# ============================================================
# CONFIGURATION ROBOT SENTINEL-X (.env)
# ============================================================

# --- Clé d'API commune (Caméra Port 8000 & API Moteurs Port 5000) ---
SENTINEL_API_KEY=<cle_api_robot>

# --- Broker Mosquitto (Télécommande & Télémétrie) ---
MQTT_BROKER_HOST=172.16.137.4
MQTT_BROKER_PORT=8883
MQTT_USERNAME=<utilisateur_broker>
MQTT_PASSWORD=<mot_de_passe_broker>
MQTT_USE_TLS=1

# --- Paramètres de Patrouille Autonome (patrol.py) ---
PATROL_NB_STEPS=10
PATROL_TURN_STEPS=4
PATROL_SPEED=fast
