# ==========================================
# SENTINEL-X REST API - CONFIGURATION ENV
# ==========================================

# Application
API_ENV=development
API_HOST=0.0.0.0
API_PORT=8080
API_DEBUG=true
API_SECRET_KEY=sentinel-x-secret-key-2026

# Database (MariaDB Galera ou SQLite en local)
# Format MariaDB Galera (Prod) : mysql+aiomysql://sentinel_user:Sentinel2026!@172.16.137.4:3306/sentinel_db
# Format SQLite Async (Dev/Test) : sqlite+aiosqlite:///./sentinel.db
DATABASE_URL=sqlite+aiosqlite:///./sentinel.db

# MQTT Broker (Mosquitto)
MQTT_BROKER_HOST=172.16.137.4
MQTT_BROKER_PORT=8883
MQTT_USERNAME=admin
MQTT_PASSWORD=Epsi1234.!
MQTT_USE_TLS=true
MQTT_CA_CERT_PATH=
MQTT_CLIENT_ID=sentinel-x-api-backend

# Topics MQTT
MQTT_TELEMETRY_TOPIC=sentinelx/+/telemetry
MQTT_STATUS_TOPIC=sentinelx/+/status
MQTT_CMD_TOPIC_PREFIX=sentinelx
MQTT_ROBOT_CMD_TOPIC=detection_robot/command
MQTT_ROBOT_STATUS_TOPIC=detection_robot/action_status
