# Copier ce fichier vers .env et renseigner les valeurs

ROBOT_API_KEY =

# --- Broker Mosquitto ---
# Adresse IP de la machine qui héberge le broker
MQTT_BROKER_HOST =
MQTT_BROKER_PORT = 1883
MQTT_USERNAME =
MQTT_PASSWORD =
